<div class="container">
  <h1>Add a recipe to <%= @category.name %></h1>
  <%= simple_form_for [@category, @bookmark] do |f| %>
    <%= f.input :comment %>
    <%= f.association :recipe %>
    <%= f.submit class: "btn btn-primary" %>
  <% end %>
  <hr>
  <%= link_to 'Back', category_path(@category), class: "btn btn-info" %>
</div>
